html {
    height: 100%;
}

body {
    background: rgb(40, 40, 40);
    display: flex;
    height: 100%;
}


.list {
    display: flex;
}

.server_column, .channel_column{
    display: flex;
    flex-direction: column;
}

.server_column {
    background: #202225;
    padding: 13px;
    padding-top: 4px;
    align-items: center;
}

.server_column div {
    margin-top: 7px;

}

/*.logo, .profile1, .profile2, .addServer, .button {
    background: #36393f;
    border-radius: 30px;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
 
    
}*/

.logo, .profile1, .profile2, .server-list {
    background: #36393f;
    border-radius: 30px;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}


#create-server{
    background: #36393f;

    border-radius: 30px;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position:relative;
    margin-left: 0px;
    font-size: 25px;
    color:rgb(11, 229, 157);
    margin-top: 15px; 
}

#create-server:hover{
    border-radius: 15px;  /*CUADRADO al ACERCAR*/
    color: white;
    background-color: rgb(9, 194, 132);  
}

.image_button{
    background: rgb(11, 229, 157);
    border-radius: 30px;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    margin-top: 15px;
  
}

.image_button:hover img{
    border-radius: 15px;  /*CUADRADO al ACERCAR*/
    color: white;
    background-color: rgb(11, 229, 157);
}

#create-channel{
    background:none;
    border-radius: 100%;
    width: 0px;
    height: 3.7px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
   
    font-size: 20px;
    color:rgb(11, 229, 157);

  
}

#create-channel:hover {
    /*border-radius: 15px;  /*CUADRADO al ACERCAR*/
    color: white;
    background:none;
}

.channel-list{
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;;
}


.profile1, .p{
    border-radius: 15px; 
    background: #5865f2;
    color: #fff; 
    font-weight: bold; 
    font-size: 15px
}



/*.button{
    font-size: 25px;
    border: none;
    color: #3bd65a; 
    
  }*/


 /*CUADRADO al ACERCAR*/
/*.button:hover{
    border-radius: 15px; 
    color: white;
    background-color: #1b9c35;
    
}*/

/*.logo:hover, .profile2:hover img, .addServer:hover{
    border-radius: 15px; 
    color: white;
    background-color: rgb(65, 65, 211);
}*/

.logo:hover, .profile2:hover img, .server-list:hover img {
    border-radius: 15px;  /*CUADRADO al ACERCAR*/
    color: white;
    background-color: rgb(65, 65, 211);
}


/*.profile2 img {  
    width: 100%;
    border-radius: 30px;
}*/

.profile2 img, .server-list img, .image_button img{  /*ACHICA IMAGEN*/
    width: 100%;
    border-radius: 30px;
}



.white_line {
    position: absolute;
    width: 4px;
    height: 0px;
    background: white;
    left: -10px;
    top: 3px;
    z-index: 2;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transition: opacity, height 0.5s;
}


.logo:hover .white_line, .profile1:hover .white_line, .profile2:hover .white_line, .server-list:hover .white_line {  /*LINEA BLANCA al COSTADO*/
    opacity: 1;
    height: 40px;
}

.hover {
    position: absolute;
    right: -80px;
    color: rgb(218, 218, 218);
    padding: 8px;
    background: black;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
    top: -1px;
    transition: opacity 0.15s;
    opacity: 0;
    pointer-events: none;
    z-index: 10;
}


/*.logo:hover .hover, .profile1:hover .hover, .profile2:hover .hover, .addServer:hover .hover { 
    opacity: 1;
}*/

.logo:hover .hover, .profile1:hover .hover, .profile2:hover .hover, .server-list:hover .hover, .image_button:hover .hover{ /*Aparece TEXTO*/
    opacity: 1;
}

#create-server:hover .hover{
    opacity:1;
}

.grey_line {
    width: 100%;
    height: 1px;
    background: rgb(87, 87, 87);
}



/* LEFT 2 STYLES */

.channel_column {
    background: #2F3136;
    position: relative
}

.server_name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 210px;
    color: white;
    padding: 13px;
    box-shadow: 0px 1px 2px rgb(24, 24, 24);
    cursor: pointer;

    font-size: 15px; 
    font-weight: bold;
}

.server_name:hover {
    background: #202225;
}

.channels, .channel {
    display: flex;
    flex-direction: column;
}

.channels {
    padding: 10px;
}

.channel {
    margin-top: 7px;
}

.name, .contents, .contents div, .contents2, .contents2 div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #96989D;    
}
.name .p1 {
    font-size: 12px;
}

.name .p2 {
    font-size: 25px;
    margin-right: 7px;
}

.contents, .contents2{
    margin-top: 10px;
    background: #42464D;
    padding: 7px;
    border-radius: 3px;
    cursor: pointer;
}

#channelList{
    margin-top: 3px;
    background:none;
    padding: 7px;
    border-radius: 3px;
    cursor: pointer;
}


p.format{
   
    font-weight: bold; 
    font-size: 14px; 
    margin-left: 5px
    
}


.contents2 {
    background: transparent;
}

.holder {
    position: relative;
    cursor: pointer;
}

.hover2{
    position: absolute;
    top: -35px;
    left: -200%;
    white-space: nowrap;
    color: rgb(218, 218, 218) !important;
    padding: 8px;
    background: black;
    font-weight: bold;
    font-size: 13px;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transition: opactiy 0.15s;
}

.hide_icon {
    opacity: 0;
}

.holder:hover .hover2{
    opacity: 1;
}

.channel-p, .Channel {
    font-size: 14px; 
  
}

.contents2:hover {
    background-color: #42464D;
}

.contents2:hover .channel-p, .contents:hover .Channel{
    color: rgb(220, 220, 220);
}

.contents2:hover .hide_icon{
    opacity: 1;
}

.foot_column {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background: #292B2F;
    padding: 7px;
    display: flex;
    justify-content: space-between;
}

.user, .icon {
    display: flex;
    align-items: center;
}

p.profile_name{
    color: white; 
    font-size: 13px; 
    font-weight: bold;
}

.profile_name, .username{
    margin-left: 8px;
}

p.username{
    color: grey; 
    font-size: 12px
}

.holder img{
    margin-left: 5px;
    margin-right: 7px;
}

.user_photo{
    width: 40px; 
    border-radius: 20px;
}
