.columna-mensajes {
    background: #36393F;
    flex: 1;
}

.barra_superior {
    display: flex;
    justify-content: space-between;
    padding: 13px;
    box-shadow: 0px 1px 2px rgb(24, 24, 24);
}

.barra_superior div {
    display: flex;
    align-items: center;
}

.buscador {
    width: 200px;
    border-radius: 5px;
    background: #202225;
    border: none;
    padding: 5px;
    outline: transparent solid 5px;;
    caret-color: rgb(187, 185, 190);
    color: rgb(220, 220, 220);
    transition: width 0.15s;
    margin-right: 10px;
}

.buscador::placeholder {
    color: #9A9DA1
}

.buscador:focus{
    width: 220px;
}

.superior_iconos .holder .hover2 {
    top: 110%;
    left: -20px
}

.mensajes {
    display: grid;
    grid-template-columns: 1fr;
    padding: 25px;
    position: relative;
}

.mensaje_inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    left:41%;
   
}


