/* Estilo para las ventanas modales */
.modal {
    display:none; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: none; 
    z-index: 100; 
    padding: 20px;
    border-radius: 10px;
    
    text-align: center;
    color: #fff;
    width: 350px;
    height: 150px;
}


/* Estilo para el contenido de la ventana modal */
.modal-content {
    background-color: #42464d;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);

    width: 350px;
    height: 150px;
    margin-top: 5px ;
    margin-bottom: 5px ;

    position: relative;
}

/* Estilo para el botón de cierre de la ventana modal */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    background-color: #37383b;
}

/* Estilo para los botones de las ventanas modales */
button {
    background-color: #7289da;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

/* Estilo para los inputs de las ventanas modales */
input[type="text"] {
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
}

/*#serverNameInput{
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;

}*/

/* Estilo para h2 de modal */
.modal h2 {
    margin-top: 0;
    font-size: 20px;
    margin-bottom: 10px;
}

/* Estilo para h2 de modal-content */
.modal-content h2 {
    margin-top: 0;
}




    

    
  
    