* {
    font-family: "ABC Ginto Normal","Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
}

/*Estilo cuerpo*/
body {
    margin: 12;
    padding: 10;
    background-color: #36393f; 
    color: #fff; 
}

/*Oculta messages*/
.messages{
    display: none;
}

/*Estilo para el contenedor del chat*/
.chat_container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #2f3136; 
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(161, 10, 10, 0.1);
    display: flex;
    flex-direction: column;
    height: 460px; 
    width: 530px;
}


.chat {
    flex-grow: 1;
    overflow-y:scroll;  /*Barra de desplazamiento vertical */
    padding-right: 10px; /* Evita superposición de barras de desplazamiento*/
}

/*Estilo entrada de mensajes*/
.message_input {
    display: flex;
    align-items: center;
    padding-top: 15px;
    background-color: #68686ac0; /* Fondo del área de escritura de mensajes */
    border-radius: 5px;
    padding: 5px;
    /*color:rgb(255, 255, 255);*/
   
}

/*Margen izquierdo emoji*/
.chat_icons {    
    margin-left: 20px; 
}


/*Estilo área de escritura*/
textarea {
    flex-grow: 1;
    resize: none; /* Evita que el área de texto se redimensione */
    padding: 5px;
    background-color: #40444b; 
    color: #fff; 
    border: none;
}

/*Estilo botón Enviar*/
button {
    padding: 10px 10px;
    background-color: #0073e6;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
}


/*.send-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
  }*/

/* Estilos para los mensajes JS */
.message {
    display: flex;
    justify-content: flex-start; /* Alinea los mensajes a la izquierda */
    margin-bottom: 10px;
    padding-top: 10px;
    line-height: 1.5;
}


.user_avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}



/*JS*/
.message_content {
    display: flex;
    flex-direction: column;
}



.user_name {
    font-weight: bold;
    font-size: 15px;
    display: flex; /* Utiliza flex para alinear el nombre de usuario y la fecha/hora */
    align-items: center; /* Centra verticalmente el contenido de user-name */
}

.message_text {
    color: #fff; 
}

.message_time{
    color: #A3A692;
    font-size: 11px;
}


.message_buttons {
    display: flex;
    align-items: center;
    margin-left: 300px;
}

.edit_button,
.delete_button {
    cursor: pointer;
    margin-left: 10px;
    padding: 2px 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}


.edit_button:hover,
.delete_button:hover {
    background-color: #f0f0f080;
}



/* Estilo del scroll en modo oscuro */
::-webkit-scrollbar {
    width: 10px; 
    background-color: #36393f; 
}

/* Estilo del thumb (el control deslizante) en el scroll */
::-webkit-scrollbar-thumb {
    background-color: #5b5e69; 
    border-radius: 5px; /* Borde redondeado del thumb */
}

/* Estilo del thumb en estado hover*/
::-webkit-scrollbar-thumb:hover {
    background-color: #40444b; 
}

/*Estilo barra superior de Columna mensajes*/
.top {
    display: flex;
    justify-content: flex-end; /* Alinea los elementos al final del contenedor (derecha) */
    align-items: center; 
}

/*Estilo cuando no hay servidores*/
.no_servers {
    text-align: center; /* Centrar horizontalmente el texto */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px; /* Centra verticalmente el contenido en la ventana del navegador */
}

.no_servers p {
    margin-top: 10px;
}