* {
    font-family: "ABC Ginto Normal","Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
}

body {
    background: rgb(40, 40, 40);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}


.logeo  {
    display: flex;
    background: #36393F;
    padding: 20px 20px 20px 30px;
    width: fit-content;
    border-radius: 5px;
}

.login, .registro{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.t1 {
    font-size: 25px;
    color: white;
    font-weight: 800;
    text-align: center;
}

.t2 {
    margin-top: 10px;
    color: #888b8f;
    font-size: 17px;
    text-align: center;

}

form {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
}

form p {
    color: #a5a5a5;
    font-size: 12px;
    font-weight: 800;
    margin: 20px 0px 8px 0px;
}

form input {
    width: 400px;
    background: #202225;
    border: none;
    font-size: 15px;
    color: rgb(200, 200, 200);
    padding: 12px;
    border-radius: 2px;
    outline: solid 5px transparent
}


form a {
    display: block;
    color: #079fda;
    font-size: 12px;
    margin-top: 9px;
    text-decoration: none;
    font-weight: bold;
}

form button {
    width: 100%;
    margin-top: 25px;
    font-size: 15px;
    font-weight: 300;
    background: #5865f2;
    color: white;
    border: none;
    padding: 11px;
    border-radius: 2px;
    cursor: pointer;
}

form button:hover {
    background: #4b55c5
}


/* Estilos para el enlace de registro */
.register-link {
    margin-top: 15px;
    font-weight: 400;
    color: rgb(105, 105, 105);
}


.register-link .r  {
    color: #079fda;
}

.l {
    margin-top: 15px;
    font-weight: 400;
    color: #079fda;
}


