<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Discord</title>
        <link rel="stylesheet" href="../static/styles/list.css">
        <link rel="stylesheet" href="../static/styles/message_column.css">
        <link rel="stylesheet" href="../static/styles/chat.css">
        <link rel="stylesheet" href="../static/styles/addServer.css">
        <link rel="stylesheet" href="../static/styles/explorer.css">
        <link rel="stylesheet" href="../static/styles/profile.css">

      
    </head>
    <body>
      
        <!--Listados servidor y canales-->
        <div class="list">

            <!--COLUMNA SERVIDORES-->
            <div class="server_column">
                <div class="logo">                    <!--ICONO DISCORD-->
                    <img src="../assets/discord-icon.png">
                    <div class="white_line"></div>  
                    <div class="hover">Home</div>
                </div>

                <div class="grey_line"></div>


                <div id="serverList">
                    <!-- Aquí se agregarán los elementos -->
                </div>

                <!--Añadir Servidor-->
                <button id="create-server">+</button>
                <div class="hover" style="right: -163px">Añadir un servidor</div>

                <!--Explorar Servidores-->
                <a class="image_button" id="explorer">
                    <img src="../assets/brujula.png">
                    <div class="hover" style="right: -163px">Explorar Servidores</div>
                </a>


            </div>

            <!-- Ventana modal para crear servidor -->
            <div id="serverModal" class="modal">
                <div class="modal-content">
                    <span class="close" id="closeServerModal">&times;</span>
                    <h2>Crear Servidor</h2>
                    <input type="text" id="serverNameInput" placeholder="Nombre del Servidor">
                    <button id="createServer">Crear</button>
                </div>
            </div>



            







            <!-- Ventana modal para crear canal -->
            <div id="channelModal" class="modal">
                <div class="modal-content">
                    <span class="close" id="closeChannelModal">&times;</span>
                    <h2>Crear Canal</h2>
                    <input type="text" id="channelNameInput" placeholder="Nombre del Canal">
                    <button id="createChannel">Crear</button>
                </div>
            </div>



            <!--COLUMNA CANALES-->
            <div class="channel_column" id="channel_column">   
                             
                <div class="server_name">
                    <p>Servidor</p>
                    <img src="../assets/chevron-down.svg">
                </div>

                <!--CANALES-->
                <div class="channels">   
                    <div class="channel">

                        <div class="name">
                            <p class="p1">CANALES</p>
                            <div class="holder">
                                <button id="create-channel">+</button>
                                <div class="hover2" style="left: 10px ">Crear canal</div>                             
                            </div>
                        </div>


                            <div id="channelList">
                                <!-- Aquí se agregarán los elementos -->                                           
                            </div>


                    </div>



                    <div class="channel">


                        <div class="contents2">
                            <div>
                                <p class="channel-p"># General</p>
                            </div>

                            <div>
                                <div class="holder">
                                    <img src="../assets/user-plus-16.svg" class="hide_icon">
                                    <div class="hover2">Crear invitación</div>
                                </div>

                                <div class="holder">
                                    <img src="../assets/settings-16.svg" class="hide_icon">
                                    <div class="hover2" >Editar canal</div>
                                </div>
                            </div>
                        </div>

                       

                    </div>
                </div>

                <!--Columna Canales ABAJO -->
                <div class="foot_column">
                    <div class="user">
                        <img src="../assets/monkey.png" class="user_photo" id="imagen_perfil_preview">

                        <div  class="holder">
                            <p class="profile_name"  name="username_pie">Romi</p>
                            <p class="username" name="id_usuario">#1234</p>
                            <div class="hover2">Copiar Username</div>
                        </div>
                    </div>
                    

                    <div class="icon">
                        <div class="holder">
                            <img src="../assets/mic-off.svg">
                            <div class="hover2">Desactivar silencio</div>
                        </div>
                        <div class="holder" >
                            <img src="../assets/headphones.svg">
                            <div class="hover2">Ensordecer</div>
                        </div>

                        <div class="holder">
                            <a class="button-profile" id="button-profile">
                                <img src="../assets/settings-20.svg">
                            </a>

                            <!--<img src="../assets/settings-20.svg">-->
                            <div class="hover2">Ajustes de usuario</div>
                        </div>

                        







                    </div>
                    
                </div>
            </div>
        </div>


        <!--COLUMNA MENSAJES-->
        <div class="message_column">
            <div class="top">    <!--ARRIBA CHAT-->

                <div class="top_icon">

                    <div class="holder">
                        <img src="../assets/bell.svg"> 
                        <div class="hover2">Notificaciones</div>
                    </div>
                    <div class="holder">
                        <img src="../assets/award.svg"> 
                        <div class="hover2">Mensajes fijados</div>
                    </div>
                    <div class="holder">
                        <img src="../assets/users.svg">
                        <div class="hover2">Lista de miembros</div>
                    </div>

                    <input placeholder="Search" class="search">  <!--BUSCADOR-->
                    

                    <div class="holder">
                        <img src="../assets/inbox.svg" > 
                        <div class="hover2">Bandeja de entrada</div>
                    </div>
                    <div class="holder">
                        <img src="../assets/help-circle.svg">
                        <div class="hover2">Ayuda</div>
                    </div>
                </div>
            </div>


            <!--Mensaje al no haber servidor-->
            <div class="no_servers" id="no_servers">
                <p>Aún no te has unido a un servidor.</p>
                <p>Intenta buscar uno o crea uno propio. </p>
            </div>


            <!--Mensaje de inicio-->
            <div class="messages" id="messages">
                <div class="start_message">  
                    <h1>¡Bienvenido!</h1>
                    <p>¡Presentate a la comunidad!</p>
                </div>

                
                <!--ENVIAR MENSAJE-->
                <div class="chat_container">

                    <div class="chat" id="chat"></div>
                    
                    <div class="message_input">
                        
                        <textarea id="message_text" placeholder="Escribe un mensaje..."></textarea>
                        <button id="send_button">Enviar</button>
                    </div>
                </div>

            </div>

      
        </div>



        <!--EXPLORADOR-->
        <div class="container" id="container">

       
            <span class="close" id="close-container" >&times;</span>
            <input placeholder="Buscar servidor" class="search2">  <!--BUSCADOR-->
            
    
            <div class="photo-row">
                <div class="photo" onclick="openModal('Python')">
                    <img src="../assets/python.png" alt="Python">
                    <p>Python</p>
                </div>
                <div class="photo" onclick="openModal('GitHub')">
                    <img src="../assets/github.png" alt="GitHub">
                    <p>GitHub</p>
                </div>
                <div class="photo" onclick="openModal('HTML')">
                    <img src="../assets/html.png" alt="Html">
                    <p>HTML</p>
                </div>
            </div>
            <div class="photo-row">
                <div class="photo" onclick="openModal('MySQL')">
                    <img src="../assets/mysql.png" alt="MySql">
                    <p>MySQL</p>
                </div>
                <div class="photo" onclick="openModal('CSS')">
                    <img src="../assets/css.png" alt="Foto 5">
                    <p>CSS</p>
                </div>
                <div class="photo" onclick="openModal('Java')">
                    <img src="../assets/java.png" alt="Foto 6">
                    <p>Java</p>
                </div>
            </div>
    
            <!--Ventana modal para unirse a un servidor del explorador-->
            <div id="modal_e" class="modal_e">
                <div class="modal-content_e">
                    <p>¿Quieres unirte a este servidor?</p>
    
                    <div class="button-container"></div>
                        <button class ="modal-buttons" onclick="confirmation()">Confirmar</button>
                        <button class ="modal-buttons" onclick="closeModal()">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Ventana modal para Profile -->
        <div id="profileModal" class="modal-p">
            <div class="modal-content-p">
                <span class="close" id="closeProfile">&times;</span>


                <div class="container-p">
                    <h2>Perfil de Usuario <button id="logout">Logout</button></h2>
            
                    <form id="profile-form" enctype="multipart/form-data">
                        <!-- Cuadro de diálogo oculto -->
                        <div id="modal-p" class="modal-p">
                            <div class="modal-content-p">
                                <span class="close" id="closeButton">&times;</span>
                                <h3>Selecciona un avatar</h3>
                                <div class="image-container">
                                    <div class="image-row">
                                        <img src="../static/assets/avatars/alien.png" alt="Alien" onclick="seleccionarAvatar('../static/assets/avatars/alien.png')" />
                                        <img src="../static/assets/avatars/man.png" alt="Man" onclick="seleccionarAvatar('../static/assets/avatars/man.png')" />
                                        <img src="../static/assets/avatars/monkey.png" alt="Monkey" onclick="seleccionarAvatar('../static/assets/avatars/monkey.png')" />
                                        <img src="../static/assets/avatars/soldier.png" alt="Soldier" onclick="seleccionarAvatar('../static/assets/avatars/soldier.png')" />
                                    </div>
                                    <div class="image-row">
                                        <img src="../static/assets/avatars/pilot.png" alt="Pilot" onclick="seleccionarAvatar('../static/assets/avatars/pilot.png')" />
                                        <img src="../static/assets/avatars/robot.png" alt="Robot" onclick="seleccionarAvatar('../static/assets/avatars/robot.png')" />
                                        <img src="../static/assets/avatars/yoda.jpeg" alt="Yoda" onclick="seleccionarAvatar('../static/assets/avatars/yoda.jpeg')" />
                                        <img src="../static/assets/avatars/robot2.png" alt="Yoda" onclick="seleccionarAvatar('../static/assets/avatars/robot2.png')" />
                                        <!-- Agrega las imágenes restantes aquí -->
                                    </div>
                                </div>
                                <button type="button" id="guardarButton" class="boton-red">Seleccionar Avatar</button>
                            </div>
                        </div>
            
                        <img src="" alt="Imagen de Perfil" id="imagen_perfil" class="imagen-redonda" name="ruta_imagen_perfil" >
            
                        <div class="form-group">
                            <label for="nombre">Nombre:</label>
                            <input type="text" name="nombre" id="nombreInput" value="John">
                        </div>
                        
                        <div class="form-group">
                            <label for="apellido">Apellido:</label>
                            <input type="text" name="apellido" id="apellidoInput" value="Doe">
                        </div>
                        
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" name="email" id="emailInput" value="johndoe@example.com">
                        </div>
                        
                        <div class="form-group">
                            <label for="username">User Name:</label>
                            <input type="text" name="username" id="usernameInput" value="johnd">
                        </div>
                        
                        
                        <!-- Campos adicionales (contraseña, fecha de nacimiento, etc.) -->
            
                        <button type="button" id="Guardar-Cambios">Guardar Cambios</button>
                        <button type="button" id="Cambiar-Clave">Cambiar Contraseña</button>
                    </form>
                </div>
            
                <div class="container-p">
                    <button id="Eliminar-usuario">Eliminar Cuenta</button>
                    
                </div>
            
                <div id="modal-clave" class="modal-clave" style="display: none;">
                    <div class="modal-content-clave">
                        <span class="close-clave" id="closeClave">&times;</span>
                        <h3>Cambiar Contraseña</h3>
                        <form id="cambiar-clave-form">
                            <label for="nuevaclave">Nueva Contraseña:</label>
                            <input type="password" id="nuevaclave" name="nuevaclave" required>
                
                            <label for="confirmacion">Confirmar Contraseña:</label>
                            <input type="password" id="confirmacion" name="confirmacion" required>
                
                            <button type="button" id="guardarClave">Guardar Contraseña</button>
                        </form>
                    </div>
                </div>
               



            </div>
        </div>
    


        <!--<script src="../static/scripts/chat.js"></script>-->
        <script src="../static/scripts/canales.js"></script>
        <!-- <script src="../static/scripts/chat2.js"></script> -->
        <script src="../static/scripts/add.js"></script>
        <script src="../static/scripts/explorer.js"></script>
        <script src="../static/scripts/chat-connect.js"></script>
        <script src="../static/scripts/servidores.js"></script>
        <!-- <script src="../static/scripts/profile.js"></script> -->
        <script src="../static/scripts/modal.js"></script>
        <script src="../static/scripts/mensajes.js"></script>
        <script src="../static/scripts/chat.js"></script>



    </body>
</html>