<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <div id="message">
        <h1>User Profile</h1>
        <p><strong>Username:</strong> <span id="username"></span></p>
        <p><strong>Email:</strong> <span id="email"></span></p>
        <p><strong>Nombre:</strong> <span id="nombre"></span></p>
        <p><strong>Apellido:</strong> <span id="apellido"></span></p>
    </div>
    
    <button id="logout">Logout</button>
    
    <script src="../static/scripts/profile.js"></script>
</body>
</html>